@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Mulish;
  src: url(./assets/fonts/mulish/static/Mulish-Medium.ttf);
}
